* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  border: 2px solid black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.navbar {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.navbar-end {
  display: flex;
  gap: 20px;
}
.home-text {
  border: 2px solid black;
  width: 700px;
  margin: auto;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}
.home-text1 {
  margin-bottom: 10px;
}
.home-text2 {
  margin-top: 20px;
}
.trending {
  margin-bottom: 20px;
}
.trnd-button {
  margin-bottom: 20px;
}
.trend-section {
  padding: 20px;
  border: 2px solid rgb(49, 207, 41);
  width: 100vw;
}
.movies-section {
  display: flex;
  overflow: auto;
  scrollbar-width: thin;
  gap: 30px;
}
.movie-box {
  background-color: blueviolet;
  height: 350px;
  width: 300px;
  flex-shrink: 0;
}
.more-reasons-section {
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  width: 100vw;
}
.reasons-section{
    display: flex;
    justify-content: space-between;
}
.reason-box {
  background-color: aqua;
  height: 350px;    
  width: 350px;
  border: 2px solid black;
  border-radius: 10%;
}
.faq{
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid greenyellow;
}
.faq-box{
    display: flex;
    background-color: rgb(121, 107, 107);
    justify-content: space-between;
    margin-bottom: 10px;
    height: 60px;
    width: 1300px;
    padding: 20px;
}
.faq-text{
    margin-bottom: 20px;
}
.end-section{
    margin-top: 30px;
    border: 2px solid red;
    text-align: center;
}
.end-section-text{
    margin-bottom: 20px;
}
.footer-1{
    display: flex;
    justify-content: space-between;
}
.footer-box{
    border: 2px solid black;
    height: 25s0px;
    width: 300px;
    padding-top: 30px;
}
.footer{
    padding: 20px;
}
.a{
    margin-bottom: 40px;
}
.last{
    margin-top: 30px;
}
.netflix-india{
    margin-top: 20px;
}
.que{
    margin-top: 20px;
    margin-bottom: 20px;
}